In [166]:
import pandas as pd
import numpy as np

In [167]:
df = pd.read_csv("T20.csv")

In [168]:
df

,Unnamed: 0,matchId,balls,runs,tossWinner,battingTeam,bowlingTeam,player_out,city,venue
0,0,5_1,0.1,0,India,West Indies,India,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
1,1,5_1,0.2,0,India,West Indies,India,1,Lauderhill,Central Broward Regional Park Stadium Turf Ground
2,2,5_1,0.3,0,India,West Indies,India,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
3,3,5_1,0.4,1,India,West Indies,India,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
4,4,5_1,0.5,0,India,West Indies,India,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
...,...,...,...,...,...,...,...,...,...,...
91959,118,1795_1,19.2,1,New Zealand,Pakistan,New Zealand,0,Auckland,Eden Park
91960,119,1795_1,19.3,0,New Zealand,Pakistan,New Zealand,1,Auckland,Eden Park
91961,120,1795_1,19.4,2,New Zealand,Pakistan,New Zealand,0,Auckland,Eden Park
91962,121,1795_1,19.5,1,New Zealand,Pakistan,New Zealand,0,Auckland,Eden Park
91963,122,1795_1,19.6,1,New Zealand,Pakistan,New Zealand,0,Auckland,Eden Park

In [169]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91964 entries, 0 to 91963
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   91964 non-null  int64
 1   matchId      91964 non-null  object
 2   balls        91964 non-null  float64
 3   runs         91964 non-null  int64
 4   tossWinner   88988 non-null  object
 5   battingTeam  91964 non-null  object
 6   bowlingTeam  91964 non-null  object
 7   player_out   91964 non-null  int64
 8   city         91964 non-null  object
 9   venue        91964 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 7.0+ MB

In [170]:
df['venue'].value_counts()

venue
Dubai International Cricket Stadium          5227
Shere Bangla National Stadium                3665
Harare Sports Club                           3466
R Premadasa Stadium                          3221
New Wanderers Stadium                        2819
                                             ...
Civil Service Cricket Club, Stormont          121
Grange Cricket Club Ground, Raeburn Place     121
Bready                                        121
Carrara Oval                                   64
Kensington Oval, Bridgetown, Barbados          56
Name: count, Length: 133, dtype: int64

In [171]:
df = df.drop(columns=['Unnamed: 0','tossWinner'])

In [172]:
df

,matchId,balls,runs,battingTeam,bowlingTeam,player_out,city,venue
0,5_1,0.1,0,West Indies,India,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
1,5_1,0.2,0,West Indies,India,1,Lauderhill,Central Broward Regional Park Stadium Turf Ground
2,5_1,0.3,0,West Indies,India,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
3,5_1,0.4,1,West Indies,India,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
4,5_1,0.5,0,West Indies,India,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
...,...,...,...,...,...,...,...,...
91959,1795_1,19.2,1,Pakistan,New Zealand,0,Auckland,Eden Park
91960,1795_1,19.3,0,Pakistan,New Zealand,1,Auckland,Eden Park
91961,1795_1,19.4,2,Pakistan,New Zealand,0,Auckland,Eden Park
91962,1795_1,19.5,1,Pakistan,New Zealand,0,Auckland,Eden Park
91963,1795_1,19.6,1,Pakistan,New Zealand,0,Auckland,Eden Park

In [173]:
df['city'].value_counts()

city
Dubai           5227
Colombo         5176
Johannesburg    3578
Mirpur          3542
Harare          3466
                ...
Victoria         123
Edinburgh        121
Derry            121
Carrara           64
Bridgetown        56
Name: count, Length: 106, dtype: int64

In [174]:
df['battingTeam'].value_counts()

battingTeam
Pakistan        10709
South Africa    10155
India            9615
New Zealand      9484
Sri Lanka        9161
West Indies      8174
Australia        7860
England          7593
Bangladesh       5610
Zimbabwe         4837
Afghanistan      4357
Ireland          2633
Netherlands      1776
Name: count, dtype: int64

In [175]:
df.isnull().sum()

matchId        0
balls          0
runs           0
battingTeam    0
bowlingTeam    0
player_out     0
city           0
venue          0
dtype: int64

In [176]:
df = df.drop(columns=['city','venue'])

In [177]:
df.head()

  matchId  balls  runs  battingTeam bowlingTeam  player_out
0     5_1    0.1     0  West Indies       India           0
1     5_1    0.2     0  West Indies       India           1
2     5_1    0.3     0  West Indies       India           0
3     5_1    0.4     1  West Indies       India           0
4     5_1    0.5     0  West Indies       India           0

In [178]:
df['matchId']=df['matchId'].str.replace('_1','').astype('int')

In [179]:
df

       matchId  balls  runs  battingTeam  bowlingTeam  player_out
0            5    0.1     0  West Indies        India           0
1            5    0.2     0  West Indies        India           1
2            5    0.3     0  West Indies        India           0
3            5    0.4     1  West Indies        India           0
4            5    0.5     0  West Indies        India           0
...        ...    ...   ...          ...          ...         ...
91959     1795   19.2     1     Pakistan  New Zealand           0
91960     1795   19.3     0     Pakistan  New Zealand           1
91961     1795   19.4     2     Pakistan  New Zealand           0
91962     1795   19.5     1     Pakistan  New Zealand           0
91963     1795   19.6     1     Pakistan  New Zealand           0

[91964 rows x 6 columns]

In [180]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91964 entries, 0 to 91963
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   matchId      91964 non-null  int64
 1   balls        91964 non-null  float64
 2   runs         91964 non-null  int64
 3   battingTeam  91964 non-null  object
 4   bowlingTeam  91964 non-null  object
 5   player_out   91964 non-null  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 4.2+ MB

In [181]:
df['current_score'] = df.groupby('matchId')['runs'].cumsum()

In [182]:
df

,matchId,balls,runs,battingTeam,bowlingTeam,player_out,current_score
0,5,0.1,0,West Indies,India,0,0
1,5,0.2,0,West Indies,India,1,0
2,5,0.3,0,West Indies,India,0,0
3,5,0.4,1,West Indies,India,0,1
4,5,0.5,0,West Indies,India,0,1
...,...,...,...,...,...,...,...
91959,1795,19.2,1,Pakistan,New Zealand,0,149
91960,1795,19.3,0,Pakistan,New Zealand,1,149
91961,1795,19.4,2,Pakistan,New Zealand,0,151
91962,1795,19.5,1,Pakistan,New Zealand,0,152
91963,1795,19.6,1,Pakistan,New Zealand,0,153

In [183]:
df['overs'] = df['balls'].astype(int)
df['ball_number'] = round((df['balls'] % 1) * 10).astype(int)

In [184]:
df

,matchId,balls,runs,battingTeam,bowlingTeam,player_out,current_score,overs,ball_number
0,5,0.1,0,West Indies,India,0,0,0,1
1,5,0.2,0,West Indies,India,1,0,0,2
2,5,0.3,0,West Indies,India,0,0,0,3
3,5,0.4,1,West Indies,India,0,1,0,4
4,5,0.5,0,West Indies,India,0,1,0,5
...,...,...,...,...,...,...,...,...,...
91959,1795,19.2,1,Pakistan,New Zealand,0,149,19,2
91960,1795,19.3,0,Pakistan,New Zealand,1,149,19,3
91961,1795,19.4,2,Pakistan,New Zealand,0,151,19,4
91962,1795,19.5,1,Pakistan,New Zealand,0,152,19,5
91963,1795,19.6,1,Pakistan,New Zealand,0,153,19,6

In [185]:
df['ball_bowled'] = (df['overs'].astype('int')*6) + df['ball_number'].astype('int')

In [186]:
df

,matchId,balls,runs,battingTeam,bowlingTeam,player_out,current_score,overs,ball_number,ball_bowled
0,5,0.1,0,West Indies,India,0,0,0,1,1
1,5,0.2,0,West Indies,India,1,0,0,2,2
2,5,0.3,0,West Indies,India,0,0,0,3,3
3,5,0.4,1,West Indies,India,0,1,0,4,4
4,5,0.5,0,West Indies,India,0,1,0,5,5
...,...,...,...,...,...,...,...,...,...,...
91959,1795,19.2,1,Pakistan,New Zealand,0,149,19,2,116
91960,1795,19.3,0,Pakistan,New Zealand,1,149,19,3,117
91961,1795,19.4,2,Pakistan,New Zealand,0,151,19,4,118
91962,1795,19.5,1,Pakistan,New Zealand,0,152,19,5,119
91963,1795,19.6,1,Pakistan,New Zealand,0,153,19,6,120

In [187]:
df['crr']= (df['current_score']*6)/df['ball_bowled']

In [188]:
df

,matchId,balls,runs,battingTeam,bowlingTeam,player_out,current_score,overs,ball_number,ball_bowled,crr
0,5,0.1,0,West Indies,India,0,0,0,1,1,0.000000
1,5,0.2,0,West Indies,India,1,0,0,2,2,0.000000
2,5,0.3,0,West Indies,India,0,0,0,3,3,0.000000
3,5,0.4,1,West Indies,India,0,1,0,4,4,1.500000
4,5,0.5,0,West Indies,India,0,1,0,5,5,1.200000
...,...,...,...,...,...,...,...,...,...,...,...
91959,1795,19.2,1,Pakistan,New Zealand,0,149,19,2,116,7.706897
91960,1795,19.3,0,Pakistan,New Zealand,1,149,19,3,117,7.641026
91961,1795,19.4,2,Pakistan,New Zealand,0,151,19,4,118,7.677966
91962,1795,19.5,1,Pakistan,New Zealand,0,152,19,5,119,7.663866
91963,1795,19.6,1,Pakistan,New Zealand,0,153,19,6,120,7.650000

In [189]:
df

,matchId,balls,runs,battingTeam,bowlingTeam,player_out,current_score,overs,ball_number,ball_bowled,crr
0,5,0.1,0,West Indies,India,0,0,0,1,1,0.000000
1,5,0.2,0,West Indies,India,1,0,0,2,2,0.000000
2,5,0.3,0,West Indies,India,0,0,0,3,3,0.000000
3,5,0.4,1,West Indies,India,0,1,0,4,4,1.500000
4,5,0.5,0,West Indies,India,0,1,0,5,5,1.200000
...,...,...,...,...,...,...,...,...,...,...,...
91959,1795,19.2,1,Pakistan,New Zealand,0,149,19,2,116,7.706897
91960,1795,19.3,0,Pakistan,New Zealand,1,149,19,3,117,7.641026
91961,1795,19.4,2,Pakistan,New Zealand,0,151,19,4,118,7.677966
91962,1795,19.5,1,Pakistan,New Zealand,0,152,19,5,119,7.663866
91963,1795,19.6,1,Pakistan,New Zealand,0,153,19,6,120,7.650000

In [190]:
final_df = df.groupby('matchId').sum()['runs'].reset_index().merge(df,on='matchId')

In [191]:
final_df

,matchId,runs_x,balls,runs_y,battingTeam,bowlingTeam,player_out,current_score,overs,ball_number,ball_bowled,crr
0,5,95,0.1,0,West Indies,India,0,0,0,1,1,0.000000
1,5,95,0.2,0,West Indies,India,1,0,0,2,2,0.000000
2,5,95,0.3,0,West Indies,India,0,0,0,3,3,0.000000
3,5,95,0.4,1,West Indies,India,0,1,0,4,4,1.500000
4,5,95,0.5,0,West Indies,India,0,1,0,5,5,1.200000
...,...,...,...,...,...,...,...,...,...,...,...,...
91959,1795,153,19.2,1,Pakistan,New Zealand,0,149,19,2,116,7.706897
91960,1795,153,19.3,0,Pakistan,New Zealand,1,149,19,3,117,7.641026
91961,1795,153,19.4,2,Pakistan,New Zealand,0,151,19,4,118,7.677966
91962,1795,153,19.5,1,Pakistan,New Zealand,0,152,19,5,119,7.663866
91963,1795,153,19.6,1,Pakistan,New Zealand,0,153,19,6,120,7.650000

In [192]:
final_df['wickets'] = final_df.groupby('matchId')['player_out'].cumsum()

In [193]:
final_df

,matchId,runs_x,balls,runs_y,battingTeam,bowlingTeam,player_out,current_score,overs,ball_number,ball_bowled,crr,wickets
0,5,95,0.1,0,West Indies,India,0,0,0,1,1,0.000000,0
1,5,95,0.2,0,West Indies,India,1,0,0,2,2,0.000000,1
2,5,95,0.3,0,West Indies,India,0,0,0,3,3,0.000000,1
3,5,95,0.4,1,West Indies,India,0,1,0,4,4,1.500000,1
4,5,95,0.5,0,West Indies,India,0,1,0,5,5,1.200000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91959,1795,153,19.2,1,Pakistan,New Zealand,0,149,19,2,116,7.706897,8
91960,1795,153,19.3,0,Pakistan,New Zealand,1,149,19,3,117,7.641026,9
91961,1795,153,19.4,2,Pakistan,New Zealand,0,151,19,4,118,7.677966,9
91962,1795,153,19.5,1,Pakistan,New Zealand,0,152,19,5,119,7.663866,9
91963,1795,153,19.6,1,Pakistan,New Zealand,0,153,19,6,120,7.650000,9

In [194]:
# batting team
# bowling team
# current score
# wickets
# over
# runx

In [195]:
final = final_df[['battingTeam','bowlingTeam','current_score','balls','crr','wickets','runs_x']]

In [196]:
final

,battingTeam,bowlingTeam,current_score,balls,crr,wickets,runs_x
0,West Indies,India,0,0.1,0.000000,0,95
1,West Indies,India,0,0.2,0.000000,1,95
2,West Indies,India,0,0.3,0.000000,1,95
3,West Indies,India,1,0.4,1.500000,1,95
4,West Indies,India,1,0.5,1.200000,1,95
...,...,...,...,...,...,...,...
91959,Pakistan,New Zealand,149,19.2,7.706897,8,153
91960,Pakistan,New Zealand,149,19.3,7.641026,9,153
91961,Pakistan,New Zealand,151,19.4,7.677966,9,153
91962,Pakistan,New Zealand,152,19.5,7.663866,9,153
91963,Pakistan,New Zealand,153,19.6,7.650000,9,153

In [197]:
final['Total_runs'] = final['runs_x']
final = final.drop(columns = ['runs_x'])

C:\Users\tomka_3wxu81a\AppData\Local\Temp\ipykernel_18008\3035934699.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final['Total_runs'] = final['runs_x']

In [198]:
final = final.sample(frac=1).reset_index(drop=True)

In [199]:
final.head()

,battingTeam,bowlingTeam,current_score,balls,crr,wickets,Total_runs
0,Zimbabwe,Pakistan,142,16.6,8.352941,4,172
1,Australia,India,145,17.6,8.055556,4,166
2,New Zealand,Bangladesh,3,1.4,1.800000,1,210
3,Zimbabwe,West Indies,104,19.3,5.333333,8,105
4,India,South Africa,136,15.6,8.500000,5,168

In [200]:
final.to_csv("Cricket_score_predictor.csv",index=False)

In [202]:
final_df.head(30)

,matchId,runs_x,balls,runs_y,battingTeam,bowlingTeam,player_out,current_score,overs,ball_number,ball_bowled,crr,wickets
0,5,95,0.1,0,West Indies,India,0,0,0,1,1,0.000000,0
1,5,95,0.2,0,West Indies,India,1,0,0,2,2,0.000000,1
2,5,95,0.3,0,West Indies,India,0,0,0,3,3,0.000000,1
3,5,95,0.4,1,West Indies,India,0,1,0,4,4,1.500000,1
4,5,95,0.5,0,West Indies,India,0,1,0,5,5,1.200000,1
5,5,95,0.6,5,West Indies,India,0,6,0,6,6,6.000000,1
6,5,95,0.7,0,West Indies,India,0,6,0,7,7,5.142857,1
7,5,95,1.1,0,West Indies,India,0,6,1,1,7,5.142857,1
8,5,95,1.2,1,West Indies,India,0,7,1,2,8,5.250000,1
9,5,95,1.3,0,West Indies,India,0,7,1,3,9,4.666667,1
10,5,95,1.4,0,West Indies,India,0,7,1,4,10,4.200000,1
11,5,95,1.5,1,West Indies,India,0,8,1,5,11,4.363636,1
12,5,95,1.6,0,West Indies,India,0,8,1,6,12,4.000000,1
13,5,95,1.7,0,West Indies,India,1,8,1,7,13,3.692308,2
14,5,95,2.1,4,West Indies,India,0,12,2,1,13,5.538462,2
15,5,95,2.2,6,West Indies,India,0,18,2,2,14,7.714286,2
16,5,95,2.3,0,West Indies,India,0,18,2,3,15,7.200000,2
17,5,95,2.4,0,West Indies,India,0,18,2,4,16,6.750000,2
18,5,95,2.5,0,West Indies,India,0,18,2,5,17,6.352941,2
19,5,95,2.6,2,West Indies,India,0,20,2,6,18,6.666667,2
20,5,95,3.1,0,West Indies,India,0,20,3,1,19,6.315789,2
21,5,95,3.2,2,West Indies,India,0,22,3,2,20,6.600000,2
22,5,95,3.3,0,West Indies,India,0,22,3,3,21,6.285714,2
23,5,95,3.4,0,West Indies,India,0,22,3,4,22,6.000000,2
24,5,95,3.5,0,West Indies,India,0,22,3,5,23,5.739130,2
25,5,95,3.6,0,West Indies,India,0,22,3,6,24,5.500000,2
26,5,95,4.1,0,West Indies,India,0,22,4,1,25,5.280000,2
27,5,95,4.2,6,West Indies,India,0,28,4,2,26,6.461538,2
28,5,95,4.3,0,West Indies,India,0,28,4,3,27,6.222222,2
29,5,95,4.4,0,West Indies,India,1,28,4,4,28,6.000000,3

In [203]:
df['battingTeam'].value_counts()

battingTeam
Pakistan        10709
South Africa    10155
India            9615
New Zealand      9484
Sri Lanka        9161
West Indies      8174
Australia        7860
England          7593
Bangladesh       5610
Zimbabwe         4837
Afghanistan      4357
Ireland          2633
Netherlands      1776
Name: count, dtype: int64

In [ ]:
battingTeam
Pakistan        
South Africa    
India            
New Zealand      
Sri Lanka        
West Indies      
Australia        
England          
Bangladesh       
Zimbabwe         
Afghanistan      
Ireland          
Netherlands